@import 'variables'; // note _ in filename is just to show sass compiler the file is not standalone file
@import 'mixins'; // classes

.container {
    max-width: $containerWidth;
    margin: auto;
}

.row {
    display: flex;
    width: 100%;
}

.col-12 {
    min-width: 100%;
}

.col-6 {
    min-width: 50%;
}

h1 {
    color: $deepBlue;
    font-size: $h1FontSize;
}

#banner1 {
    @include banner;
    border: 1px solid red;

    ul {
        @include clearFix;
    }
}

#banner2 {
    @include banner;
    border: 1px solid blue;

    ul {
        width: 100%;
        list-style: none;

        li {
            float: left;
            width: 14%;

            a {
                padding: 16px;
                text-align: center;
                display: block;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
        @include clearFix;
    }
}

#imagesDiv {
    ul{
        list-style: none;
        li {
            float: left;
            box-sizing: border-box;
            text-align: center;
            width: (100% / 3);
            img {
                width: 150px;
                // margin: 20px;
                border-radius: 50%;
            }
            a {
                text-decoration: none;
                color: $deepBlue;
                font-weight: bold;
                &:hover {
                    color: red;
                }
            }
        }
        @include clearFix;
    }
}
