
@import 'variables';// note _ in filename is just to show sass compiler the file is not standalone file
@import 'mixins';

// classes
.container {
    max-width: $containerWidth;
    margin: auto;
}

.row {
    display: flex;
}

h1 {
    color: $deepBlue;
    font-size: $h1FontSize;
}

#banner1 {
  @include banner;
  border: 1px solid red;
}

#banner2 {
  @include banner;
  border: 1px solid blue;
}
